- if loggedin?
  .header-margin
    .text-center
      %button(type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal-upload")
        Upload New Image

.row.gutter-20
  %ul.grid.list-unstyled
    - @images.each do |image|
      %li.grid-item.col-md-4.col-sm-6.col-xs-12
        .margin-bottom-20
          / This ID is needed for Blueimp's Bootstrap Image Gallery
          #links
            %a(href="#{image.file}" title="#{image.title}" id="thumbnail" data-image-id="#{image.id}" data-gallery)
              %figure
                %img{src: image.file.url(:small), alt: "#{image.title}", class: "img-responsive"}
                %figcaption
                  %h2.inside-thumbnail= image.title
            - if loggedin?
              %button(type="button" class="btn edit-del-button" id="edit-button" data-toggle="modal" data-target="#modal-edit" data-image-id="#{image.id}" data-image-file="#{image.file.url(:small)}" data-image-title="#{image.title}")
                Edit
              %button(type="button" class="btn edit-del-button" id="delete-button" data-toggle="modal" data-target="#modal-delete" data-image-id="#{image.id}" data-image-file="#{image.file.url(:small)}")
                Delete

/ Blueimp's Image Gallery lightbox
#blueimp-gallery.blueimp-gallery.blueimp-gallery-controls
  / Controls for the borderless lightbox
  %button(type="button" class="btn btn-default btn-share" id="share-button" data-toggle="modal" data-target="#modal-share") Share
  %h3.title
  %a.prev ‹
  %a.next ›
  %a.close.btn.btn-default.btn-close ×
  / %a.play-pause
  / Show slides
  .slides
  / Show indicator
  %ol.indicator
  / The modal dialog, currently not using it
  / .modal.fade
  /   .modal-dialog.modal-lg
  /     .modal-content
  /       .modal-header
  /         %button(type="button" class="close" aria-hidden="true") &times;
  /         %h4.modal-title
  /       .modal-body.next
  /       .modal-footer
  /         %button(type="button" class="btn btn-default pull-left prev")
  /           %i.glyphicon.glyphicon-chevron-left
  /           Previous
  /         %button(type="button" class="btn btn-primary next")
  /           Next
  /           %i.glyphicon.glyphicon-chevron-right

/ Modal for Share
%div(class="modal fade" id="modal-share" tabindex="-1" role="dialog" aria-labelledby="myModalShareLabel")
  %div(class="modal-dialog" role="document")
    .modal-content
      %form(action="/images/:id/edit" method="post" enctype="multipart/form-data" id="form-share")
        .modal-header
          %button(type="button" class="close" data-dismiss="modal" aria-label="close")
            %span(aria-hidden="true") &times;
          %h4(class="modal-title" id="myModalShareLabel") Share Image
        .modal-body
          .form-group
            / %input(type="text" name="image-url" class="form-control" id="form-input-text")
            %input(type="text" name="image-url" class="form-control" id="form-input-text" onClick="this.setSelectionRange(0, this.value.length)")
        .modal-footer
          %button(type="button" class="btn btn-default" data-dismiss="modal") Close

/ Modal for Upload
%div(class="modal fade" id="modal-upload" tabindex="-1" role="dialog" aria-labelledby="myModalUploadLabel")
  %div(class="modal-dialog modal-lg" role="document")
    .modal-content
      %form(action="/images" method="post" enctype="multipart/form-data" id="form-upload")
        .modal-header
          %button(type="button" class="close" data-dismiss="modal" aria-label="close")
            %span(aria-hidden="true") &times;
          %h4(class="modal-title" id="myModalUploadLabel") Upload New Image
        .modal-body
          .form-group
            %input(type="file" name="image[file]" id="file")
          .form-group
            %input(type="text" name="image[title]" class="form-control" placeholder="A beautiful image")
        .modal-footer
          %button(type="button" class="btn btn-default" data-dismiss="modal") Close
          %button(type="submit" class="btn btn-primary") Upload!

/ Modal for Edit
%div(class="modal fade" id="modal-edit" tabindex="-1" role="dialog" aria-labelledby="myModalEditLabel")
  %div(class="modal-dialog modal-lg" role="document")
    .modal-content
      %form(action="/images/:id/edit" method="post" enctype="multipart/form-data" id="form-edit")
        .modal-header
          %button(type="button" class="close" data-dismiss="modal" aria-label="close")
            %span(aria-hidden="true") &times;
          %h4(class="modal-title" id="myModalEditLabel") Edit Image
        .modal-body
          .form-group
            %img(src="#" id="modal-image" width="100%")
          .form-group
            %input(type="file" name="image-file" id="file")
          .form-group
            %input(type="text" name="image-title" class="form-control" id="form-input-text" placeholder="A nice placeholder")
        .modal-footer
          %button(type="button" class="btn btn-default" data-dismiss="modal") Close
          %button(type="submit" class="btn btn-primary") Update!

/ Modal for Delete
%div(class="modal fade" id="modal-delete" tabindex="-1" role="dialog" aria-labelledby="myModalDeleteLabel")
  %div(class="modal-dialog modal-lg" role="document")
    .modal-content
      %form(action="/images/:id/delete" method="post" enctype="multipart/form-data" id="form-delete")
        .modal-header
          %button(type="button" class="close" data-dismiss="modal" aria-label="close")
            %span(aria-hidden="true") &times;
          %h4(class="modal-title" id="myModalDeleteLabel") Delete Image?
        .modal-body
          .form-group
            %img(src="#" id="modal-image" width="100%")
        .modal-footer
          %button(type="button" class="btn btn-default" data-dismiss="modal") Close
          %button(type="submit" class="btn btn-primary") Yes, Delete