- if loggedin?
  .header-margin.text-center
    %button(type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal-upload")
      Upload New Image

- if extension_alert?
  .row
    .col-xs-12
      %div(class="alert alert-danger" role="alert")
        You can only upload images with the following extensions: .jpg .png

.row.gutter-20
  %ul.grid.list-unstyled
    - @images.each do |image|
      %li.grid-item.col-md-4.col-sm-6.col-xs-12
        .margin-bottom-20
          / This ID is needed for Blueimp's Image Gallery
          #links
            %a(href="#{image.file}" title="#{image.title}" id="thumbnail" data-image-id="#{image.id}" data-gallery)
              %figure
                %img(src="#{image.file.url(:small)}" alt="#{image.title}" class="img-responsive")
                %figcaption
                  %h2.inside-thumbnail= image.title
            - if loggedin?
              %button(type="button" class="btn btn-primary btn-block btn-voffset" id="edit-button" data-toggle="modal" data-target="#modal-edit" data-image-id="#{image.id}" data-image-file="#{image.file.url(:small)}" data-image-title="#{image.title}")
                Edit
              %button(type="button" class="btn btn-primary btn-block" id="delete-button" data-toggle="modal" data-target="#modal-delete" data-image-id="#{image.id}" data-image-file="#{image.file.url(:small)}")
                Delete

/ Blueimp's Image Gallery lightbox
#blueimp-gallery.blueimp-gallery.blueimp-gallery-controls
  / Controls for the borderless lightbox
  %a.close.btn.btn-default.btn-close
    %span.glyphicon.glyphicon-remove
  %h3.title
  %button(type="button" class="btn btn-default btn-share" id="share-button" data-toggle="modal" data-target="#modal-share") Share
  %a.prev
    %span.glyphicon.glyphicon-chevron-left
  %a.next
    %span.glyphicon.glyphicon-chevron-right
  / Show slides
  .slides
  / Show indicator
  %ol.indicator

/ Modal for Upload
%div(class="modal fade" id="modal-upload" tabindex="-1" role="dialog" aria-labelledby="myModalUploadLabel")
  %div(class="modal-dialog modal-700" role="document")
    .modal-content
      %form(action="/images" method="post" enctype="multipart/form-data" id="form-upload")
        .modal-header
          %button(type="button" class="close" data-dismiss="modal" aria-label="close")
            %span(aria-hidden="true") &times;
          %h4(class="modal-title" id="myModalUploadLabel") Upload New Image
        .modal-body
          .form-group
            %label(for="file" class="sr-only") Image File
            %input(type="file" name="image[file]" id="file")
          .form-group
            %label(for="image-title" class="sr-only") Image Title
            %input(type="text" name="image[title]" class="form-control" id="image-title" placeholder="A beautiful image")
        .modal-footer
          %button(type="button" class="btn btn-default" data-dismiss="modal") Close
          %button(type="submit" class="btn btn-primary") Upload!

/ Modal for Edit
%div(class="modal fade" id="modal-edit" tabindex="-1" role="dialog" aria-labelledby="myModalEditLabel")
  %div(class="modal-dialog modal-700" role="document")
    .modal-content
      %form(action="/images/:id/edit" method="post" enctype="multipart/form-data" id="form-edit")
        .modal-header
          %button(type="button" class="close" data-dismiss="modal" aria-label="close")
            %span(aria-hidden="true") &times;
          %h4(class="modal-title" id="myModalEditLabel") Edit Image
        .modal-body
          .form-group
            %img(src="#" id="modal-image" class="center-block")
        .modal-body.border-top
          .form-group
            %label(for="file" class="sr-only") Image File
            %input(type="file" name="image-file" id="file")
          .form-group
            %label(for="form-input-text" class="sr-only") Image Title
            %input(type="text" name="image-title" class="form-control" id="form-input-text" placeholder="A nice placeholder")
        .modal-footer
          %button(type="button" class="btn btn-default" data-dismiss="modal") Close
          %button(type="submit" class="btn btn-primary") Update

/ Modal for Delete
%div(class="modal fade" id="modal-delete" tabindex="-1" role="dialog" aria-labelledby="myModalDeleteLabel")
  %div(class="modal-dialog modal-700" role="document")
    .modal-content
      %form(action="/images/:id/delete" method="post" enctype="multipart/form-data" id="form-delete")
        .modal-header
          %button(type="button" class="close" data-dismiss="modal" aria-label="close")
            %span(aria-hidden="true") &times;
          %h4(class="modal-title" id="myModalDeleteLabel") Delete Image?
        .modal-body
          .form-group
            %img(src="#" id="modal-image" class="center-block")
        .modal-footer
          %button(type="button" class="btn btn-default" data-dismiss="modal") Close
          %button(type="submit" class="btn btn-primary") Delete