.row
  .col-xs-12
    #links
      %a(href="#{@image.file}" title="#{@image.title}" id="big-image" data-image-id="#{@image.id}" data-gallery)
        %img(src="#{@image.file}" alt="#{@image.title}" class="img-responsive center-block")

.row
  .col-xs-12.text-center.margin-top-bottom
    %h2= @image.title

%nav(aria-label="...")
  %ul.pager
    %li
      %a(href="/")
        %span(aria-hidden="true") &larr;
        Gallery

.footer-spacing

/ Blueimp's Image Gallery lightbox
#blueimp-gallery.blueimp-gallery.blueimp-gallery-controls
  / Controls for the borderless lightbox
  %a.close.btn.btn-default.btn-close ×
  %a(href="/" class="btn btn-default btn-gallery" id="gallery-button")
    %span(aria-hidden="true") &larr;
    Gallery
  %button(type="button" class="btn btn-default btn-share" id="share-button" data-toggle="modal" data-target="#modal-share") Share
  / Show slides
  .slides

/ Modal for Share
%div(class="modal fade" id="modal-share" tabindex="-1" role="dialog" aria-labelledby="myModalShareLabel")
  %div(class="modal-dialog" role="document")
    .modal-content
      %form(id="form-share")
        .modal-header
          %button(type="button" class="close" data-dismiss="modal" aria-label="close")
            %span(aria-hidden="true") &times;
          %h4(class="modal-title" id="myModalShareLabel") Share Image
        .modal-body
          .form-group
            %label(for="form-input-text" class="sr-only") Image URL
            %input(type="text" name="image-url" class="form-control" id="form-input-text" onClick="this.setSelectionRange(0, this.value.length)")
        .modal-footer
          %button(type="button" class="btn btn-default" data-dismiss="modal") Close